<%- include ("../../views/_header") %>
<%= JSON.stringify(data) %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998023/del/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.boyId%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>scit611998023 = <%= data.scit611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>mirot611998023 = <%= data.mirot611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>id_611998006 = <%= data.scit611998006 %></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>id_611998012 = <%= data.scit611998012 %></font></h3>
            </div>

            
            <a href="/ce611998023/delete/<%= data.boyId%>" class="btn btn-danger"> ลบ </a>
            &nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/ce611998023" class="btn btn-primary"> กลับ </a>
            </form>
    </div>
</div>
<%- include ("../../views/_footer") %>