<%- include ("../../views/_header") %>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% if(session.moduleCe611998003==1){ %> <a href="/ce611998003/add" class="btn btn-success"> เพิ่ม </a> <% } %>
                <br></br>
                <h1>TABLE CE611998003</h1>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="table-active">
                            <th>NO</th>
                            <th>scit611998003</th>
                            <th>mirot611998003</th>
                            <th>id_611998023</th>
                            <th>id_611998006</th>
                            <% if(session.moduleCe611998003==1){ %> <th>EDIT SETTINGS</th> <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].scit611998003 %> </td>
                                    <td> <%= data[i].mirot611998003 %> </td>
                                    <td> <%= data[i].scit611998023 %> </td>
                                    <td> <%= data[i].scit611998006 %> </td>
                                    <% if(session.moduleCe611998003==1){ %> <td> <a href="/ce611998003/edit/<%= data[i].oatId%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/ce611998003/del/<%= data[i].oatId%>" class="btn btn-danger"> ลบ </a> </td> <% } %>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../../views/_footer") %>
