<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/login/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>Username = <%= data.username%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Password = <%= data.password%></font></h3>
            </div>
            
            <a href="/login/deleteNow/<%= data.id%>" class="btn btn-danger"> ลบ </a>
            &nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/login" class="btn btn-primary"> กลับ </a>
            </form>
    </div>
</div>
<%- include ("../../views/_footer") %>