<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>ADD Kittinan</h2>
                        <form action="/login/add/" method="POST">

                        <div class="form-group">
                        Username <input type="text" 
                        name="username" 
                        placeholder="Varchar" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Password <input type="text" 
                        name="password"
                        placeholder="Float" 
                        class="form-control">
                        </div>
                        
                        <button type="submit" class="btn btn-success">submit</button>&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/login" class="btn btn-primary"> กลับ </a>
                        </form>
                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>