<!DOCTYPE html>
<html lang="en" dir="ltr">
  <style>
    body {
        background-image: url('PPP.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<head>
    <meta charset="utf-8">
    <title> HW5Group4 </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>

    <body>

<<<<<<< HEAD
        <!-- <%= JSON.stringify(session) %> -->
=======
<<<<<<< HEAD
        <%= JSON.stringify(session) %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link "  href="/home"><h3>Home</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/ce611998023"><h6>Boy-611998023</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/ce611998006"><h6>O-611998006</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/ce611998012"><h6>Arm-611998012</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/ce611998003"><h6>Oat-611998003</h6></a>
                </li></div>
                <a class="nav-link" href="/logout"><span class="btn btn-danger">ออกจากระบบ</span></a>
              </ul>

          </nav>
=======
        <% JSON.stringify(session) %>
>>>>>>> c4aa94022b446827aaed49e124eb8a6069c33b43
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ce611998023">Boy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ce611998006">Danuson</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ce611998012">Armmeyou</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ce611998003">Oat</a>
              </li>
            </ul>
            
          </div> <a class="btn btn-success" href="/login">สร้างผู้ใช้ </a> <a class="btn btn-danger" href="/logout">ออกจากระบบ</a>
        </nav>
>>>>>>> a61fd086cbecf127bd57e4f851ba7cfd75933a03

          <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-2">

        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class="alert alert-danger" role="alert" align="center">
            <%= session.errors.errors[i]["msg"] %>
            </div>
            <%   } session.success=null; } %>

            <% if(session.success==true){ %>
            <div class="alert alert-success" role="alert" align="center">
            <%= session.topic %>
            </div>
            <%   } session.success=null;  %></div></div>
