<%- include("_header") %>
    <style>
        body {
            background-image: url('As.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>

    <body>
        <div class="centered">
            <p>
                <marquee scrollamount="15">
                    <font color=#ffffff style="font-size:170px"> Wellcome to My Home </font>
                </marquee>
            </p>
        </div>
    </body>



    <%- include ( '_footer.ejs') %>