<%- include("_header") %>

    <style>
        body {
            background-image: url('CCC.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div class="row mt-5">
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>

    <!-- <body>
        <div class="centered">
            <p>
                <marquee scrollamount="15">
                    <font color=#ffffff style="font-size:50px"> F3K4 - Group 4 </font>
                </marquee>
            </p>
        </div>
    </body> -->



    <%- include ( '_footer.ejs') %>