<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>ADD Preecha</h2>
                        <form action="/ce611998012/save/" method="POST">

                        <div class="form-group">
                        scit611998012 <input type="text"
                        name="scit611998012"
                        placeholder="Varchar"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        mirot611998012 <input type="text"
                        name="mirot611998012"
                        placeholder="Float"
                        class="form-control">
                        </div>

                        id_611998003 <select class ='form-control' name='id_611998003'>

                          <option value=""> เลือก </option>
                          <% if(data1) { %>
                          <% for(var i=0; i<data1.length; i++){ %>
                            <option value="<%= data1[i].id %>">
                              <%= data1[i].scit611998003 %>
                              </option>
                          <%}%>
                        <%}%>
                        </select><div class="row mt-3"></div>

                        id_611998023 <select class ='form-control' name='id_611998023'>

                            <option value=""> เลือก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>">
                                <%= data2[i].scit611998023 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><div class="row mt-3"></div>


                        <button type="submit" class="btn btn-success">submit</button>&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/ce611998012" class="btn btn-primary"> กลับ </a>
                        </form>
                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>
