<%- include ("../../views/_header") %>
<% JSON.stringify(data1) %>
<% JSON.stringify(data2) %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>Update Preecha</h2>
                        <form action="/ce611998012/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        scit611998012 <input type="text"
                        name="scit611998012"
                        value="<%= data1.scit611998012 %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        mirot611998012 <input type="text"
                        name="mirot611998012"
                        value="<%= data1.mirot611998012 %>"
                        class="form-control">
                        </div>

                        id_611998003 <select class ='form-control' name='id_611998003'>
                          <option value=""> ไม่ระบุ </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.id_611998003) { %> selected <% } %> >
                                <%= data2[i].scit611998003 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><div class="row mt-3"></div>

                        id_611998023 <select class ='form-control' name='id_611998023'>
                          <option value=""> ไม่ระบุ </option>
                            <% if(data3) { %>
                            <% for(var i=0; i<data3.length; i++){ %>
                              <option value="<%= data3[i].id %>"
                                <% if(data3[i].id==data1.id_611998023) { %> selected <% } %> >
                                <%= data3[i].scit611998023 %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><div class="row mt-3"></div>

                          <button type="submit" class="btn btn-success">submit</button>&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="/ce611998012" class="btn btn-primary"> กลับ </a>
                        </form>

                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>
